// Place all the styles related to the bookings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.footer {
  height: 400px;
  margin:auto;
  background-color: #01181b
}
.container {
  width: 1345px;
}
div.navbar-nav {
  margin-top: 16px;
}
.navbar {
  background-color:#01181b;
}
.navbar-brand {
  color:white;
}

.actions {
  border-radius: 10px;
}
.day_button {
  margin-top: 70px;
}
.week_table{
  table-layout: fixed;
}

td {
  width: 2%;
}
#first_table {
  padding-right: 0;
}
#second_table {
  padding-left: 0;
}
.time_container {
  width:10px;
  display: inline-block;
  margin:0;
}
.time_table {
  width:10px;
  margin:0;
}
.time {
  height:51px;
}
.second_table {
  display: inline-block;
  margin:0;
}
.booking_block {
  margin: -8px;
  padding: inherit;
  padding-bottom: 26px;
  height: 50px;
}
.booking_description {
  margin: auto;
  max-width: 100px;
  background-color: white;
  opacity: 0.9;
  overflow: hidden;
}

.static_days {
  margin-left: 84px;
/* width: 500px; */
position: fixed;
background: rgb(226, 226, 226);
z-index: 100;
}

.static_days th {
  padding-top: 9px;
padding-bottom: 9px;
padding-left: 6px;
width: 151px;

}
