// Place all the styles related to the bookings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.footer {
  height: 400px;
  margin:auto;
  background-color: #01181b

}
div.navbar-nav {
  margin-top: 16px;
}
.navbar {
  background-color:#01181b;
}
.navbar-brand {
  color:white;
}
.actions {
  border-radius: 10px;
}
.day_button {
  margin-top: 70px;
}
.week_table{
  table-layout: fixed;
}

.booking_block {
  margin: -8px;
  padding: inherit;
  padding-bottom: 26px;
  height: 50px;
}
.booking_description {
  margin: auto;
  max-width: 100px;
  background-color: white;
  opacity: 0.9;
  overflow: hidden;
  z-index: auto;

}

thead#header {
  position: fixed;
}

td {
  position: relative;
  // top: 100px;
  // display: inline-block;
}

.stick {
  position: fixed;
  background-color: white;
  width: 79.16%;
  top: 0px;
  margin: auto;
  z-index: 1;
}
